@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  background: #111;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: 'Muli', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  margin: 10px;
  cursor: pointer;
  flex: 1;
  border-radius: 20px;
  position: relative;
  padding: 0 20px;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s ease-in-out;
}

.slide h3 {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  opacity: 0;
  transition: opacity .3s ease-in .4s;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
}

